################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NestDashboard/bin
/NestDashboard/obj
/.vs
*.user
